
.ProjectCard {
    width: 400px;
    min-height: 250px;
    padding: 20px;
    color: white;
    background: linear-gradient(#212121, #131313) padding-box,
    linear-gradient(0deg, transparent 2%,#3300ff, rgb(210, 1, 1)) border-box;
    border: .2px solid transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
   
    transform-origin: right bottom;
    transition: all 0.6s ;
  }

  .CardImage{
    transition: ease-in-out 900ms;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  }

  .CardImage:hover{
    filter:grayscale(100)
  }
  
  .ProjectCard .main-content {
    flex: 1;
  }
  
  .ProjectCard .header span:first-child {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
    font-size: small;
  }
  .ProjectCard .header span {
    font-weight: 400;

    font-size:14px;
   
  }
  .ProjectCard .heading {
    font-size: 24px;
    margin: 10px 0 16px;
    font-weight: 600;
  }
  
  .ProjectCard .categories {
    display: flex;
    gap: 8px;
  }
  
  .ProjectCard .categories span {
    background-color: #ff003c;
    padding: 4px 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50em;
  }
  
  .ProjectCard .footer {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
  }
  
 